{% extends "portfolio/layout.html" %}
{% partialdef main %}
<form class="@container flex flex-col gap-8" hx-post="{% url 'portfolio:contact form' %}" hx-swap="outerHTML">
    {% csrf_token %}
    <div class="flex flex-col gap-4 min-w-0">
        <div class="*:peer *:p-2 *:w-full *:bg-gray-600">{{ form.name }}</div>
        <label for="{{ form.name.id_for_label }}" class="order-first font-semibold">name</label>
    </div>
    <div class="flex flex-col gap-4 min-w-0">
        <div class="*:peer *:p-2 *:w-full *:bg-gray-600">{{ form.email }}</div>
        <label for="{{ form.email.id_for_label }}" class="order-first font-semibold">email</label>
    </div>
    <div class="flex flex-col gap-4 min-w-0">
        <div class="*:peer *:p-2 *:w-full *:bg-gray-600">{{ form.message }}</div>
        <label for="{{ form.message.id_for_label }}" class="order-first font-semibold">message</label>
    </div>
    <div class="min-w-0">
    <button type="submit" class="px-4 py-2 w-full border-2 border-gray-500 cursor-pointer transition-colors ease-in-out duration-300 hover:bg-gray-500">send</button>
    </div>
</form>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}