{% extends "portfolio/layout.html" %}
{% block title %}contact{% endblock title %}
{% partialdef main %}
<form class="@container flex flex-col gap-8" hx-get="{% url 'portfolio:contact form' %}" hx-target="this" hx-trigger="load once" hx-swap="outerHTML">
    <div class="flex flex-col gap-4 min-w-0">
        <div class="px-4 py-8 bg-gray-800 animate-pulse w-full"></div>
    </div>
    <div class="flex flex-col gap-4 min-w-0">
        <div class="px-4 py-8 bg-gray-800 animate-pulse w-full"></div>
    </div>
    <div class="flex flex-col gap-4 min-w-0">
        <div class="px-4 py-8 bg-gray-800 animate-pulse w-full"></div>
    </div>
    <div class="min-w-0">
        <div class="px-4 py-8 bg-gray-800 animate-pulse w-full"></div>
    </div>
</form>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}