{% extends "portfolio/layout.html" %}
{% block title %}galleries{% endblock title %}
{% partialdef main %}
{% for gallery in gallery_list %}
<a href="{{ gallery.get_absolute_url }}">
    <div class="relative">
        <img class="max-h-64 w-full object-cover" src="{{ gallery.get_thumbnail_url_for_first_post }}">
        <div class="py-4 px-2 absolute top-0 right-0 text-right bg-gray-800 rounded-bl">
            <p class="text-xl font-semibold text-gray-200">{{ gallery.name|lower }}</p>
            <p class="text-lg text-gray-300">{{ gallery.pub_date }}</p>
        </div>
    </div>
</a>
{% empty %}
<p>there's nothing here.</p>
{% endfor %}
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}