{% extends "portfolio/layout.html" %}
{% load static wagtailimages_tags %}
{% block title %}home{% endblock title %}
{% partialdef main %}
<article title="llandv home" class="relative">
    <div class="*:w-full">{% image page.hero_image width-2000 %}</div>
    <div class="absolute p-8 bg-linear-to-b from-gray-700 to-invisible inset-x-0 top-0 flex flex-col items-center">
        <img alt="llandv logo, blue vhs tape with 'llanDV' written on the front" src="{% static 'llandv/img/logo.svg' %}" class="size-36 md:size-48">
        <h1 class="text-6xl font-semibold tracking-wide text-center md:text-8xl">llandv</h2>
    </div>
</article>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}