{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'llandv/css/output.css' %}">
        <script src="{% static 'llandv/js/htmx.min.4.0.0.js' %}" defer></script>
        <title>{% block title %}{% endblock title %} // llandv</title>
    </head>
    <body>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>